* {
  font-family: "Crimson Text", serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #001B30;
}

ul {
  list-style: none;
  margin-left: 25px;
  padding: 0;
  margin: 0;
}

.imgage {
  max-width: 100%;
  max-height: 100%;

}

li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

header {
  background: rgb(5, 25, 68);
  color: rgb(247, 241, 241);
  transition: opacity 1s ease;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  transition: all 0.5s ease;
}

header a {
  color: rgb(255, 255, 255);

}

header:hover {
  opacity: 1;
}

.fade {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .fade {
    opacity: 1;
  }
}

.scrolled {
  height: 50px;
  line-height: 50px;
}

section {
  max-width: 600px;
  padding: 0 25px;
  margin: 0 auto;
  margin-top: 150px;
  font-size: 1.2em;
  line-height: 1.5;
}

.menu {
  text-align: center;
}

h1,
li a,
footer p {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1 {
  border-bottom: 1px solid #ff0000;
}

footer {
  background: rgb(5, 25, 68);
  color: white;
  padding: 15px;
  text-align: center;
  margin-top: 45px;
  height: 100px;
}

.progress-bar {
  width: 52px;
  height: 52px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
}

.btn-top {
  font-size: 25px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  position: fixed;
  right: 27px;
  bottom: 28px;
  color: rgba(234, 0, 255, 0.8);
  text-align: center;
  text-decoration: none;
}

.is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

/*subdivisão dentro da page*/
.container-2 {
  background-color: #001B30;
  padding: 3%;
  align-items: center;
  max-width: 70%;
}

.organizadores {
  font-size: 18px;
  color: white;
}

.organizadores h3 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.organizadores ul {
  list-style-type: disc;
  margin-left: 20px;
  color: white;
}



/* Estilos para o Guia do(a) Participante */
.guia-participante {
  margin-top: 20px;
  font-size: 24px;
  color: #ffffff;
}

/*quadrado ao redor do texto e conteúdo dentro*/
.corpo {
  font-size: 18px;
  margin-top: 10px;
  border: 2px solid #786CFA;
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  align-items: center;
}

/*titulo dos tópicos*/
.titulo {
  margin-top: 20px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;

}